    <section>
    <h1><%= listado de Articulos %></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">codigo</th>
            <th scope="col">nombre</th>
            <th scope="col">precio</th>
            <th scope="col">categoria</th>
        </tr>
        </thead>
        <tbody>
        <% if  (  Super.length > 0) { %>
            <% Super.forEach((Super) => { %>
                <tr>
                    <th scope="row"><%= Super.codigo %></th>
                    <td><%= Super.nombre %> </td>
                    <td><%= Super.precio %></td>
                    <td><%= Super.categoria %></td>
                    </tr>
            <% }) %>
        <% } %>
        </tbody>
    </table>
    </section>