    <section>
    <h1><%= listado de Articulos %></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">codigo</th>
            <th scope="col">nombre</th>
            <th scope="col">precio</th>
            <th scope="col">categoria</th>
        </tr>
        </thead>
        <tbody>
            <% Art.forEach((Art) => { %>
                <tr>
                    <th scope="row"><%= Art.codigo %></th>
                    <td><%= Art.nombre %> </td>
                    <td><%= Art.precio %></td>
                    <td><%= Art.categoria %></td>
                    </tr>
            <% }) %>
        </tbody>
    </table>
    </section>